<h1>Pedidos</h1>

<ng-container *ngIf="compras$ | async as compras; else loading">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Nº Productos</th>
        <th>Precio Total</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of compras">
        <td>{{ order.id }}</td>
        <td>{{ order.orderDate | date: "dd-MMM-y" }}</td>
        <td>{{ order.clientName }}</td>
        <td>{{ order.itemsCount }}</td>
        <td>{{ order.total | currency: "$ " }}</td>
        <td>
          <span class="{{ order.status | lowercase }}">{{
            order.status | translatecomprastatus
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #loading>Obteniendo Pedidos...</ng-template>
