:host {
  padding: 0 var(--base-separation);
  width: 100%;
}

h1 {
  margin-bottom: var(--double-separation);
}

table {
  width: 100%;
  border-collapse: collapse;
  thead th {
    font-size: 0.8em;
    text-align: left;
    color: #0d18b4;
  }

  tbody tr:nth-child(even) {
    background-color: #d3adad;
  }
  th,
  td {
    padding: var(--half-separation) var(--base-separation);
    span {
      padding: 4px var(--half-separation);
      border-radius: 8px;
      font-size: 0.8em;
      background-color: #f0d7a2;

      &.Entregado {
        background-color: #81e1ac;
      }
      &.Cancelado {
        background-color: #e92c2c;
      }
    }
  }
}
