<div class="graph1">
    <img src="/assets/img/ropa.jpg" alt="Ropa"  width="100"/>
    <h3>Ropa de Moda</h3>
    <p>Explora nuestras colecciones de ropa para cada ocasión.</p>
  </div>
  <div class="graph2">
    <img src="/assets//img/calzado.jpg" alt="Calzado" />
    <h4>Calzado Elegante</h4>
    <p>Encuentra el par perfecto para completar tu estilo.</p>
  </div>
  <div class="graph3">
    <img src="/assets/img/accesorios.jpg" alt="Accesorios" aria-hidden="true"/>
    <h4>Accesorios y Más</h4>
    <p>Complementa tu look con nuestros accesorios exclusivos.</p>
  </div>
  <div class="list">
    <h3>Productos Destacados</h3>
    <ul>
      <li>Camisa Casual</li>
      <li>Zapatos Deportivos</li>
      <li>Chaqueta de Invierno</li>
      <li>Bolsos de Mano</li>
    </ul>
  </div>
  